<h1>Add a movie to your <%= @list.name %> list</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment, placeholder: "Add your comment here..." %>
  <%= f.association :movie %>
  <%= f.submit class: "btn btn-dark" %>
<% end %>

<%= link_to "Back to #{@list.name} list", list_path(@list) %>
